@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Ubuntu&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.header {
    background: radial-gradient(#fff, #ffd6d6);
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar {
    display: flex;
    align-items: center;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 0px 25px 25px 25px;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

.menuicon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

/* body */
.row1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin-top: 70px; */
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box {
    height: 75vh;
}

.col2 {
    min-width: 300px;
    flex-basis: 50%;
}

.col2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.col2 img {
    display: block;
    margin: auto;
}

.btn {
    display: inline-block;
    background: #ff523b;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover {
    background: #563434;
}

.categories {
    margin: 70px 0;
}

.smallcontainer {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col3 img {
    width: 100%;
}


.title {
    text-align: center;
    margin: 0 auto 50px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: #555;
    font-weight: normal;
}

.col4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    transition: transform 0.5s;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col4 img {
    width: 100%;
}

.col4 p {
    font-size: 14px;
}

.col4:hover {
    transform: translateY(-5px);
}

.rating .fa {
    color: #ff5236;
}

.offer {
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}

.col2 .offer-img {
    max-width: 50%;
}

small {
    color: #555;
}

.testimonial {
    padding-top: 100px;
}

.testimonial .col3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col3:hover {
    transform: translateY(-10px);
}

.testimonial .col3 img {
    width: 50%;
    margin-top: 20px;
    border-radius: 50%;
}

.fa.fa-quote-left {
    font-size: 34px;
    color: #ff523b;
}

.col3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimonial .col3 h3 {
    font-weight: 600;
    font-size: 16px;
    color: #555;
}

.brands {
    margin: 20px auto;
}

.col5 {
    width: 160px;
}

.col5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col5 img:hover {
    filter: grayscale(0);
}

.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color: #8a8a8a;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer1 .footer2 .footer3 .footer4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer1 {
    flex-basis: 30%;
}

.applogo {
    margin-top: 20px;
}

.applogo img {
    width: 140px;
}

.footer2 {
    flex: 30%;
    text-align: center;
}

.footer2 img {
    width: 180px;
    margin-bottom: 20px;
}

.footer3 {
    flex-basis: 12%;
    text-align: center;
}

.footer4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style: none;
}

.copyright {
    text-align: center;
}

/*--------- All products ----------*/
.row-2 {
    justify-content: space-between;
    margin: 50px auto 50px;
}

select {
    border: 1px solid #ff523b;
    padding: 5px;
}

select:focus {
    outline: none;
}

.page-btn {
    margin: 0 auto 80px;
}

.page-btn span {
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover {
    background: #ff523b;
    color: white;
}

/*--------- Single products details ----------*/
.single-products {
    margin-top: 80px;
}

.single-products .col-2 img {
    padding: 0;
}

.single-products .col-2 {
    padding: 20px;
}

.single-products h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-products select {
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-products input {
    height: 40px;
    width: 50px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}

input:focus {
    outline: none;
}

.single-products .fa {
    color: #ff523b;
    margin-left: 10px;
}

.small-img-row {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

/* --------- Cart item details --------- */
.cart-page {
    margin: 80px auto 600px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: white;
    background: #ff523b;
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
}

td a {
    color: #ff523b;
    font-size: 12px;
}

td img {
    width: 80px;
    height: 56px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

/*---------- account-page ------------*/
.account-page {
    padding: 50px 0;
    background: radial-gradient(#fff, #ffd6d6);
}

.form-container {
    background: white;
    width: 300px;
    height: 400px;
    text-align: center;
    position: relative;
    padding: 20px 0;
    margin: auto;
    border-radius: 35px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn {
    display: inline-block;
}

.form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .btn:focus {
    outline: none;
}

#loginform {
    left: -300px;
}

#regform {
    left: 0;
}

form a {
    font-size: 12px;
    color: blue;
}

#indicator {
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}

@media screen and (max-width:1200px) {
    .col2 {
        margin-top: 63px;
    }

    .box {
        height: 85vh;
    }

    .row1 {
        display: grid;
        text-align: center;
    }

    .col2 img {
        margin-bottom: 82px;
    }

}

@media screen and (max-width:960px) {
    .col-2 img {
        width: 540px;
        height: 350px;
    }

    .row {
        justify-content: unset;
    }
}

@media screen and (max-width:900px) {
    .col-2 img {
        width: 486px;
        height: 316px;
    }
}

@media screen and (max-width:850px) {
    .col-2 img {
        width: 449px;
        height: 291px;
    }
}

@media screen and (max-width: 800px) {
    .header {
        width: 800px;
    }

    .col-2 img {
        width: 362px;
        height: 227px;
    }

    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        width: 800px;
        background: #333;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li {
        display: block;
        margin: 10px 50px 10px 0;
    }

    nav ul li a {
        color: #fff;
    }

    .menuicon {
        display: block;
        cursor: pointer;
    }

    .offer {
        width: 800px;
    }

    .footer {
        width: 800px;
    }

    .row {
        text-align: center;
    }

    .col2,
    .col3,
    .col4 {
        flex-basis: 100%;
    }

    .smallcontainer {
        width: 800px;
    }

    .single-product .row {
        text-align: left;
    }

    .single-product .col-2 {
        padding: 20px 0;
    }

    .single-product h1 {
        font-size: 26px;
        line-height: 32px;
    }

    .cart-info p {
        display: none;
    }
    .account-page {
        width: 795px;
        height: 1250px;
    }
    .form-container {
        width: 276px;
        height: 375px;
        padding: 55px 0;
        margin: 120px auto 150px;
    }
}